.nav {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}

button {
    font-family: 'Chelsea Market', cursive;
    border: none;
    background-color: white;
    color: steelblue;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
}

button:hover {
    background-color: steelblue;
    color: white;
}

button#choice {
    padding: 2rem;
}

.selected {
    background-color: steelblue;
    color: white;
    border: none;
}

.square {
    width: 30%;   
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 15%;
    transition: background 0.5s;
    /* add browser support */
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}

#container {
    width: 600px;
    margin: 20px auto;
}

#message {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    color: steelblue;
    font-weight: 500;
}
